.app__privacy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 4rem 15rem;
    position: relative;
}

.priv-s1{
  position: absolute;
  top: 900px;
  left: 20px;
}
.priv-s2{
  position: absolute;
  top: 60px;
  left: 370px;
}
.priv-s3{
  position: absolute;
  top: 200px;
  left: 600px;
}
.priv-s4{
  position: absolute;
  top: 950px;
  left: 700px;
}
.priv-s5{
  position: absolute;
  top: 800px;
  left: 800px;
}
.priv-s6{
  position: absolute;
  right: 150px;
  width: 15px;
}
.priv-s7{
  position: absolute;
  right: 100px;
  top: 950px;
  width: 20px;
}

.fpr1{
  position: absolute;
  opacity: 0.3;
  left: 0;
  bottom: 0;
}

.privacy-inner{
    flex: 1;
    width: 50%;
}

.privacy-img {
  position: relative;
  background-image: url("../../assets/images/Vectorlocked.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
}

.privacy-img .image4 {
  position: relative;
  right: 40px;
  top: 200px;
  width: 100%;
  height: 100%;
}

.privacy-box{
  border: 2px solid #D434FE;
  border-radius: 5px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 500px;
  /* height: 608px; */
}

.privacy-box p{
  line-height: 1.9;
}

.hterm{
  margin-top: 2rem;
}

.h-term{
  margin-bottom: 2rem;
}

.ticks{
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  gap: 10px;
}

.date{
  margin: 0 0 3rem;
}

.policy{
  margin-bottom: 3rem;
  line-height: 1.8;
  width: 470px;
}

.privacy-inner .f1{
  /* position: relative; */
  left: -100px;
}

@media screen and (max-width: 790px) {
  .app__privacy{
    flex-direction: column;
    text-align: center;
    padding: 2rem 2rem 14rem;
  }

  .fpr1{
    width: 50%;
  }

  .privacy-inner{
    width: 100%;
  }

  .priv-s1, .priv-s2, .priv-s3, .priv-s4, .priv-s5, .priv-s6, .priv-s7{
    display: none;
  }

  .policy{
    margin: 0 auto 1rem;
  }

  .date{
    margin: 0 auto 2rem;
  }

  .privacy-box{
    width: 100%;
    padding: 3rem 1rem;
  }

  .hterm{
    text-align: left;
    margin: 0;
  }

  .ticks{
    align-items: flex-start;
    text-align: left;
  }

  .ticks img{
    position: relative;
    top: .6rem;
  }

  .privacy-img .image4 {
    right: 0px;
    top: 150px;
  }

  .policy{
    width: 100%;
  }
}