.register {
  display: flex;
  padding: 3rem 5rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.succstar1 {
  position: absolute;
  right: 370px;
  top: 145px;
}

.succstar2 {
  position: absolute;
  right: 400px;
  top: 630px;
  width: 16px;
}

.register img {
  width: 100%;
}

.congrats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ff26b9;
  max-width: 500px;
  height: 500px;
  padding: 2rem;
  text-align: center;
  margin: 3rem auto;
  border-radius: 5px;
  gap: 1rem;
  background: rgb(16, 11, 32, 0.1);
}

.congrats button {
  width: 100%;
}

.congrats h3 {
  font-size: 1.5rem;
}

.congrats p {
  width: 270px;
}

.form-flare .onef {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.3;
  width: 50%;
}

.form-flare .twof {
  position: absolute;
  right: 0;
  width: 50%;
  top: 300px;
  opacity: 0.3;
}

.regist {
  font-size: 32px;
}

.regist-two {
  background-color: #100b20;
  padding: 4rem;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  width: 740px;
  flex: 1;
  height: 790px;
  /* z-index: 5; */
}

.man {
  width: 50%;
}

.part {
  margin: 2rem 0 1rem;
}

.create {
  font-size: 24px;
  font-weight: 700;
}

.group {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  z-index: 5;
}

.inp input {
  margin-top: 1rem;
}

.inp input::placeholder {
  color: white;
  opacity: 25%;
}

.check {
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 1rem;
  margin-top: 1rem;
}

.check input {
  width: 20px;
  background: transparent;
  cursor: pointer;
  outline: none;
  position: relative;
  top: 0.3rem;
}

.inp select {
  min-width: 250px;
  padding: 1rem;
  outline: none;
  border: none;
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  margin-top: 1rem;
}

.inp select option {
  background-color: black;
}

.inp input {
  min-width: 250px;
}

.review {
  color: #ff26b9;
  font-size: 14px;
}

.overlay{
  position: fixed;
  margin: auto;
  display: flex;
  top: 0;
  align-items: center;
  justify-content: center;
  background-color: rgb(16, 11, 32, 0.8);
  width: 100%;
  height: 100%;
  z-index: 10;
}

.registbtn {
  margin: auto;
  min-width: 100%;
}

.submitbtn {
  display: none;
}

.notregist {
  display: none;
}

@media screen and (max-width: 790px) {
  .register {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 3rem 3rem;
  }

  .succstar1 {
    right: 35px;
    top: 105px;
  }

  .succstar2 {
    right: 63px;
    top: 400px;
  }

  .congrats {
    width: 300px;
    height: 300px;
    gap: 0.5rem;
    padding: 1rem 1.5rem;
  }

  .congs {
    width: 60%;
  }

  .congrats p {
    font-size: 12px;
    width: 100%;
  }

  .congrats h3 {
    font-size: 14px;
  }

  .notregist {
    display: flex;
    font-size: 24px;
    padding: 2rem 2rem 0;
    color: #ff26b9;
  }

  .regist {
    display: none;
  }

  .form-flare {
    display: none;
  }

  .man {
    width: 100%;
  }

  .man img {
    width: 100%;
  }

  .group {
    flex-direction: column;
    gap: 2rem;
  }

  .regist-two {
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    width: 100%;
  }

  .part {
    margin-bottom: 0;
  }

  .create {
    font-size: 20px;
  }

  .review {
    font-size: 10px;
    font-family: "Italic", sans-serif;
    letter-spacing: 0.5px;
  }

  .inp input {
    height: 39px;
  }

  .check {
    align-items: flex-start;
  }

  .check p {
    font-size: 10px;
  }

  .check input {
    position: relative;
    top: 0.2rem;
  }

  .inp select {
    min-width: 30px;
  }

  .select {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 0rem;
  }

  .i-one {
    max-width: 80px;
  }

  .i-two {
    max-width: 90px;
  }

  .registbtn {
    display: none;
  }

  .submitbtn {
    display: block;
    margin: auto;
  }

  .inp select {
    padding: 0.6rem 1rem;
  }
}
