.app_faqs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    padding: 6rem 4rem 7rem;
}

.faqs-inner{
    flex: 1;
    width: 50%;
    position: relative;
}

.inner-p{
    width: 70%;
    line-height: 1.8;
}

.faqs-inner img{
    width: 100%;
}

.faqimg{
    position: relative;
    top: 80px;
}

.questions{
    margin-top: 2rem;
}

.qmark{
    display: flex;
    max-width: 200px;
    gap: 4rem;
    position: absolute;
    left: 100px;
}

.qsmall{
    position: relative;
    top: 40px;
}

.qmark img{
    width: 50%;
}

.strpink3{
    position: absolute;
    top: 3050px;
    left: 50px;
}

.stargray1{
    position: absolute;
    top: 3500px;
    left: 690px;
}

.strpink1{
    position: absolute;
    right: 480px;
    top: 3350px;
}

.strpink2{
    position: absolute;
    right: 300px;
    top: 3200px;
}

.strwhite1{
    position: absolute;
    top: 3730px;
    right: 200px;
}

@media screen and (max-width: 790px) {
    .app_faqs{
        flex-direction: column;
        gap: 0;
        padding: 2rem 2rem 6rem;
    }

    .stargray1{
        display: none;
    }

    .strpink1{
        display: none;
    }

    .strpink2{
        display: none;
    }

    .strpink3{
        display: none;
    }

    .strwhite1{
        display: none;
    }

    .faqs-inner{
        width: 100%;
        text-align: center;
    }

    .inner-p{
        width: 100%;
    }

    .questions{
        text-align: left;
        margin-left: 1rem;
    }

    .qmark{
        left: 30px;
        z-index: 3;
    }
}