.imgtxt{
    padding: 3rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.imgtxt-inner{
    flex: 1;
    width: 50%;
}

.imgtxt-inner p{
    line-height: 2;
}

.imgtxt-inner img{
    width: 100%;
}

.strPink{
    position: absolute;
    top: 1050px;
    left: 100px;
}

.bigPink{
    position: absolute;
    top: 950px;
    right: 100px;
}

@media screen and (max-width: 790px) {
    .imgtxt{
        gap: 0;
        flex-direction: column;
        padding: 2rem;
        text-align: center;
    }

    .bigPink{
        display: none;
    }

    .strPink{
        top: 1000px;
        left: 50px;
        width: 15px;
    }
}